.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.venv/
/.python-version
/.pytype/
/dist/
/venv/
/docs/_build/
/data/
/src/*.egg-info/
/appgen-frontend/browser-smoke-report.json
__pycache__/
/archive/unused-2026-05-26/**
